*.iml
out
target/classes
target/generated-sources
target/generated-test-sources
target/maven-status
target/maven-archiver
target/surefire
target/surefire-reports
target/test-classes
src/test/resources/generated-code/target/classes*
src/test/resources/generated-code/target/maven-archiver/
.idea
NextSteps